{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ user.imageName }}" alt="{{ user.imageName }}">
                    <ul class="list-group">
                        <li class="list-group-item">Prenom : {{ user.firstname }}</li>
                        <li class="list-group-item">Nom : {{ user.lastname }}</li>
                        <li class="list-group-item">Follow : <span class="badge badge-pill badge-success">{{ follow }}</span></li>
                        <li class="list-group-item">Followed_by :<span class="badge badge-pill badge-success">{{ followed_by }}</span></li>
                        <li class="list-group-item">Media :<span class="badge badge-pill badge-success">{{ media }}</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    {% for image in urlimage %}
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{ image.0 }}" alt="">
                                <div class="card-body">
                                    <p class="card-text"><i class="far fa-thumbs-up"></i>&nbsp;<span class="badge badge-pill badge-success">{{ image.1 }}</span> <i class="far fa-comments"></i>&nbsp;<span class="badge badge-pill badge-success">{{ image.2 }}</span></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}