{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="">
                    <ul class="list-group">
                        <li class="list-group-item">Prenom : {{ user.firstname }}</li>
                        <li class="list-group-item">Nom : {{ user.lastname }}</li>
                        <li class="list-group-item">Date de naissance :{{ user.birthDate|date("m/d/Y") }}</li>
                        <li class="list-group-item">Pays :{{ user.country }}</li>
                        <li class="list-group-item">Adresse :{{ user.address }}</li>
                        <li class="list-group-item">Sexe :{{ user.gender }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}