{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-1">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-secondary" type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}</div>
            <div class="col-lg-4"></div>
        </div>
    </div>

{% endblock %}

