{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" align="center" style="border: 1px solid #efefef; padding: 20px; border-radius: 5px; margin-top: 3%;">
                {% if error %}
                    <div class="alert alert-danger" align="center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1><span>LAZHA</span></h1>
                    <div class="bs-example">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <div class="form-group">
                                <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div class="form-group">
                                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{{ path('fos_user_registration_register') }}">Creer compte</a>
                            </div>

                            <div class="form-group">
                                <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                    <hr>
                    <h3>Connectez-vous avec</h3>
                    {% block hwi_oauth_content %}
                        {% if error is defined and error %}
                            <span>{{ error }}</span>
                        {% endif %}
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        {% for owner in hwi_oauth_resource_owners() %}
                            <a href="{{ hwi_oauth_login_url(owner) }}"class="btn btn-secondary"><i class="fab fa-{{owner}}"></i> <span>{{owner|capitalize}}</span></a>
                        {% endfor %}
                    </div>
                    {% endblock hwi_oauth_content %}
                </div>
            <div class="col-lg-4"></div>
        </div>
    </div>


{#<div class="container" align="center">#}
    {#{% if error %}#}
        {#<div align="center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}
    {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
        {#{% if csrf_token %}#}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
        {#{% endif %}#}

        {#<div>#}
            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />#}
        {#</div>#}

       {#<div>#}
           {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
           {#<input type="password" id="password" name="_password" required="required" autocomplete="current-password" />#}
       {#</div>#}

        {#<div>#}
            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
        {#</div>#}
        {#<div>#}
            {#<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>#}
        {#</div>#}

        {#<div>#}
            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        {#</div>#}
    {#</form>#}
{#</div>#}
{% endblock %}
