{% block body_html %}
    <p>Bonjour <b> {{ user.username }}</b>!</p>

    <p>Vous pouvez réinitialiser votre mot de passe en accédant à <a href="{{ confirmationUrl }}">Réinitialiser mot de passe</a>.</p>

    <p>Cordialement.</p>

    <p>LAZHA</p>
{% endblock %}