{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour {{ user.username }} !

        Vous pouvez réinitialiser votre mot de passe en accédant à {{ confirmationUrl }}

        LAZHA
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {#
        You can of course render the html directly here.
        Including a template as done here allows keeping things DRY by using
        the template inheritance in it
    #}
    {% include 'email/password_resetting.html.twig' %}
{% endblock %}